<p>
  <small>The application uses the Aerospike Node.js Client to store and retrieve game data and AngularJS MVC web framework to illustrate end-to-end application development in Aerospike DB.</small>
</p>
<p>
  <small>In particular, it demonstrates how to gain concurrency control by using User Defined Functions &mdash; a powerful feature of Aerospike DB. For more details, refer to this <a href="http://www.iamontheinet.com/2015/01/06/concurrency-control-in-multi-player-games-aerospike" target="_blank">blog post.</a></small>
</p>
